@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>See all <a href="/reviews">reviews</a>!</p>
    <p>See random <a href="/reviews/random">reviews</a>!</p>
    <p>Create <a href="/reviews/create">reviews</a>!</p>
</div>
