@{
  ViewData["Title"] = $"Delete {Model.ReviewUserName}";
}

@model TravelClient.Models.Review

<h4>Are you sure you want to delete @Model.ReviewDestination by @Model.ReviewUserName?</h4>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn btn-primary"/>
}

@Html.ActionLink("Back to details", "Details", new { id = @Model.ReviewId})