@{
    ViewData["Title"] = "Reviews";
}

<h1>Random Reviews</h1>

<h3>Reviews for: @Model[0].ReviewDestination</h3>

<h3>Reviews:</h3>
<ol>
@foreach (Review review in Model)
{
  <li><strong>@review.ReviewDestination | Rating: @review.ReviewRating </strong>| <a href="/Reviews/Details/@(review.ReviewId)">View Details</a></li>
}
</ol>

<p>@Html.ActionLink("See new random destination", "Random")</p>